/* 

See: https://tailwindcss.com/docs/extracting-components#extracting-utility-patterns-with-apply

*/

/* 
 *
 * Buttons
 *
 */

.btn { 
  @apply .bw1 .b--black .bg-black .green .pv2 .ph3 .lh-solid .ttu .tracked .animate;

  &:hover { @apply .bg-green .black }

  @media (--sm) { @apply .f4 }
 }

.btn-green {
  @apply .bw1 .b--black-20 .bg-green .pv2 .ph3 .lh-solid .ttu .tracked .animate;

  &:hover { @apply .b--black .shadow-lg }

  @media (--sm) { @apply .f4 }
}

/* 
 *
 * Containers
 *
 */

.container { 
  @apply .ml-auto .mr-auto .ph3 .mw8;

  @media (--md) { @apply .ph4 }
  @media (--lg) { @apply .ph5 }

  /* @supports (display: grid) { @apply .mw9 } */
}

/* 
 *
 * Headings
 *
 */

.heading    { @apply .f2 .black }
.subheading { @apply .f5 .ttu .tracked }

/* 
 *
 * Icons
 *
 */

.icon {
  @apply .dib .bg-green .pa2 .lh-solid .ttu .tracked .black .animate;
  &:hover { @apply .bg-black .white }
}

.icon-on-green { 
  @apply .animate;

  &:hover {
    @apply .white;

    filter: drop-shadow( 0px 15px 5px rgba(0, 0, 0, 0.11) )
  }

}

/* 
 *
 * Links
 *
 */

.link {
  @apply .dib .bg-black .pv2 .ph3 .lh-copy .ttu .tracked .white .animate;
  &:hover { @apply .bg-green .black }
}

/*
.link {
  @apply .shadow-lg .bw1 .pv-p75r .ph3 .ttu .tracked .animate;

  border-radius: 30px;

  &:hover { @apply .b--green .bg-green .black }
}
*/

.link-green-to-black {
  @apply .bg-green .black;
  &:hover { @apply .bg-black .white }
}

.link-black-to-white {
  @apply .b--black .bg-black .white;
  &:hover { @apply .b--white .bg-white .black }
}

.link-white-to-black {
  @apply .b--white .bg-white .black;
  &:hover { @apply .b--black .bg-black .white }
}

.link-inline { 
  @apply .dib .animate; /* WARNING: .dib enables line-height, but prevents line-break */

  border-bottom: 1px solid var(--green);
  box-shadow: inset 0 -2px 0px 0px var(--green);
  line-height: 1.2;

  &:hover { box-shadow: inset 0 -10px 0px 0px var(--green) }
}
