/* 
 *
 * Transitions
 *
 */

.animate { transition: all .2s ease-in-out }

/* 
 *
 * Hand Keyframes
 *
 */

.anim-point { animation: point 2s infinite }

@keyframes point {
  // from { transform: translateY(-5%) }
  // to { transform: translateY(10%) }
  0%, 20%, 50%, 70%, 90%, 100% {
    transform: translateY(0);
  }
	40% {
    transform: translateY(-15px);
  }
	60% {
    transform: translateY(-10px);
  }
  80% {
    transform: translateY(-5px);
  }
}


/* 
 *
 * Heading Animations
 *
 */

.goofy {
  &:hover,
  &:focus { transform: scale(1.3) rotateX(-20deg) rotateY(10deg) }
}

.goofy:hover span {
  display: inline-block;
  animation-name: dance;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.goofy:hover span:nth-child(even) { animation-delay: 0.15s }

/* 
 *
 * Heading Keyframes
 *
 */

@keyframes dance {
  from {
    transform: translate(0, 0px) rotate(-12deg);
    text-shadow: 10px 10px 3px rgba(0,0,0,0.1);
  }
  65% {
    transform: translate(0, 15px) rotate(12deg) scale(1.3);
    text-shadow: -10px -10px 3px rgba(0,0,0,0.1);
  }
  to {
    transform: translate(0, 0px) rotate(-12deg);
    text-shadow: 10px 10px 3px rgba(0,0,0,0.1);
  }
}

/* 
 *
 * Ball Animations
 *
 */

/*
.anim-vertical
  animation: anim-vertical 7s ease-in-out infinite alternate

.anim-horizontal
  animation: anim-horizontal 11s ease-in-out infinite alternate

.anim-diagonal-right
  animation: anim-diagonal-right 9s ease-in-out infinite alternate

.anim-diagonal-left
  animation: anim-diagonal-left 8s ease-in-out infinite alternate
*/

/* 
 *
 * Ball Keyframes
 *
 */

/*
@keyframes anim-vertical
  0%
    transform: matrix(1, 0, 0, 1, 0, 0)
  100%
    transform: matrix(-1, 0, 0, -1, 0, -80)

@keyframes anim-horizontal
  0%
    transform: matrix(1, 0, 0, 1, 0, 0)
  100%
    transform: matrix(-1, 0, 0, -1, -80, 0)

@keyframes anim-diagonal-right
  0%
    transform: matrix(1, 0, 0, 1, 0, 0)
  100%
    transform: matrix(-1, 0, 0, -1, 80, -80)

@keyframes anim-diagonal-left
  0%
    transform: matrix(1, 0, 0, 1, 0, 0)
  100%
    transform: matrix(-1, 0, 0, -1, -80, -80)
*/

/* 
 *
 * Animation Delay (needs to come after all compound animation declarations)
 *
 */

.anim-delay-1 { animation-delay: 1s }
.anim-delay-2 { animation-delay: 2s }
.anim-delay-3 { animation-delay: 3s }
.anim-delay-4 { animation-delay: 4s }
.anim-delay-5 { animation-delay: 5s }