/* 
 *
 * General Animations
 *
 */

.animate
  transition: all 0.2s ease-in-out

/* 
 *
 * Heading Animations
 *
 */

// .goofy
//   &:hover,
//   &:focus
//     transform: scale(1.05) rotateX(-20deg) rotateY(10deg)

.goofy:hover span
  display: inline-block
  animation-name: dance
  animation-duration: 0.4s
  animation-iteration-count: infinite
  animation-timing-function: ease-in-out

.goofy:hover span:nth-child(even)
  animation-delay: 0.15s

/* 
 *
 * Keyframes
 *
 */

@keyframes dance
  from
    transform: translate(0, 0px) rotate(-12deg)
    text-shadow: 10px 10px 3px rgba(0,0,0,0.1)
  65%
    transform: translate(0, 15px) rotate(12deg) scale(1.3)
    text-shadow: -10px -10px 3px rgba(0,0,0,0.1)
  to
    transform: translate(0, 0px) rotate(-12deg)
    text-shadow: 10px 10px 3px rgba(0,0,0,0.1)
