/*
 *
 * Base
 *
 */
@tailwind preflight {}/*
 *
 * Reset Styles
 *
 * 1. Body
 * 2. Images
 * 3. Links
 * 4. Buttons
 * 5. Lists
 * 6. Forms
 * 7. Tables
 * 8. iOS issues
 *
 */
/*
 *
 * 1. Body
 *
 */
html,
body {
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "liga" on; }
  @media (min-width: 36em) {
    html,
    body {
      font-size: 1.05rem; } }

/*
 *
 * 2. Images
 *
 */
img {
  height: auto;
  vertical-align: middle; }

img[width],
img[height] {
  max-width: none; }

/*
 *
 * 3. Links
 *
 */
a {
  text-decoration: none;
  color: inherit; }

/*
 *
 * 4. Buttons
 *
 */
/*
 *
 * 5. Lists
 *
 */
ol,
ul {
  list-style: none;
  padding-left: 0; }

li > ol,
li > ul {
  margin-bottom: 0; }

/*
 *
 * 6. Forms
 *
 */
input,
textarea {
  appearance: none;
  line-height: normal; }

fieldset {
  min-width: 0;
  border: 0; }

/*
 *
 * 7. Tables
 *
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; }

/*
 *
 * 8. iOS issues
 *
 */
/*
 *
 * Plugins
 *
 */
/* Slick */
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/*
 *
 * General
 *
 */
/*
 *
 * Arrows
 *
 */
/*
 *
 * Dots
 *
 */
.slick-dots {
  position: absolute;
  bottom: -3rem;
  right: 0;
  margin: 0 1rem 1.25rem 0;
  text-align: center;
  list-style: none; }
  @media (min-width: 62em) {
    .slick-dots {
      top: 0; } }

.slick-dots > li {
  display: inline-block;
  margin-left: .75rem;
  cursor: pointer; }
  @media (min-width: 62em) {
    .slick-dots > li {
      display: block;
      margin: 0.5rem 0 0 0; } }

.slick-dots > li > button {
  outline: none;
  border-radius: 100%;
  background-color: grey;
  padding: 0;
  height: 0.75rem;
  width: 0.75rem;
  color: transparent;
  opacity: 0.5;
  transition: all 1s ease-in-out;
  cursor: pointer; }

.slick-dots > li.slick-active > button {
  opacity: 1;
  background-color: red; }

/*
 *
 * Components
 *
 */
/*
 *
 * Buttons
 *
 */
/*
 *
 * Containers
 *
 */
.container {
  @apply .ph3 {} }

@screen md {
  .container {
    @apply .ph4 {} } }

@screen lg {
  .container {
    @apply .ph5 {} } }

/*
 *
 * Headings
 *
 */
.heading {
  @apply .f2 .black {} }

.subheading {
  @apply .f5 .ttu .tracked-normal {} }

/*
 *
 * Links
 *
 */
.link {
  @apply .shadow-lg .bw1 .b--black .bg-black .pv2 .ph3 .lh-tall .ttu .tracked-normal .white .animate {}  border-radius: 30px; }
  .link:hover, .link:focus {
    @apply .b--green .bg-green .black {} }

.link-white:hover, .link-white:focus {
  @apply .b--white .bg-white .black {} }

.link-inline {
  @apply .custom-underline .animate {} }
  .link-inline:hover, .link-inline:focus {
    @apply .hover-custom-underline {} }

.link-icon {
  @apply .animate {} }
  .link-icon:hover, .link-icon:focus {
    @apply .green {} }

/*
 *
 * Sections
 *
 */
/*
 *
 * Utilities
 *
 */
@tailwind utilities {}/*
 *
 * General Animations
 *
 */
.animate {
  transition: all 0.2s ease-in-out; }

/*
 *
 * Heading Animations
 *
 */
.goofy:hover, .goofy:focus {
  transform: scale(1.3) rotateX(-20deg) rotateY(10deg); }

.goofy:hover span {
  display: inline-block;
  animation-name: dance;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; }

.goofy:hover span:nth-child(even) {
  animation-delay: 0.15s; }

/*
 *
 * Ball Keyframes
 *
 */
@keyframes dance {
  from {
    transform: translate(0, 0px) rotate(-12deg);
    text-shadow: 10px 10px 3px rgba(0, 0, 0, 0.1); }
  65% {
    transform: translate(0, 15px) rotate(12deg) scale(1.3);
    text-shadow: -10px -10px 3px rgba(0, 0, 0, 0.1); }
  to {
    transform: translate(0, 0px) rotate(-12deg);
    text-shadow: 10px 10px 3px rgba(0, 0, 0, 0.1); } }

/*
 *
 * General Positioning
 *
 */
@responsive {
  .top-0 {
    top: 0; }
  .top-50 {
    top: 50%; }
  .right-0 {
    right: 0; }
  .bottom-0 {
    bottom: 0; }
  .left-0 {
    left: 0; }
  .left-50 {
    left: 50%; } }

/*
 *
 * Transforms
 *
 */
.origin-top {
  transform-origin: top; }

.origin-right {
  transform-origin: right; }

.origin-bottom {
  transform-origin: bottom; }

.origin-left {
  transform-origin: left; }

/*
 *
 * Tailwinds shadows
 *
 */
.shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); }

.shadow-md {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08); }

.shadow-lg {
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08); }

/*
 *
 * Other shadows
 *
 */
.hover-shadow:focus,
.hover-shadow:hover {
  box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.2); }

.medium-shadow {
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1); }

.larger-shadow {
  box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.3); }

.deep-shadow {
  box-shadow: 25px 32px 85px 0 rgba(0, 0, 0, 0.4); }

.hover-deep-shadow:focus,
.hover-deep-shadow:hover {
  box-shadow: 25px 32px 85px 0 rgba(0, 0, 0, 0.4); }

.deep-shadow--reverse {
  box-shadow: 0px 32px 85px 0 rgba(0, 0, 0, 0.4); }

/*
 *
 * Overflow
 *
 */
.overflow-x-hidden {
  overflow-x: hidden; }

/*
 *
 * Width
 *
 */
/*
 *
 * Height
 *
 */
/*
 *
 * Font Size
 *
 */
/*
 *
 * Line Height
 *
 */
.lh-tall {
  line-height: 1.7; }

/*
 *
 * Line Length
 *
 */
.measure {
  max-width: 66ch; }

.measure-narrow {
  max-width: 45ch; }

.measure-wide {
  max-width: 80ch; }

.pre-line {
  white-space: pre-line; }

/*
 *
 * Letter Spacing
 *
 */
.tracked-slight {
  letter-spacing: .025em; }

/*
 *
 * Text Decoration
 *
 */
.custom-underline {
  box-shadow: inset 0 -3px 0px 0px rgba(46, 236, 150, 0.9); }

.hover-custom-underline {
  box-shadow: inset 0 -10px 0px 0px rgba(46, 236, 150, 0.9); }

/*
 *
 * Supports
 *
 */

/*# sourceMappingURL=main.css.map */